[Unit]
Description=DataForge Engine Socket
Documentation=https://github.com/AztlanLabs/DataForge
PartOf=dataforge.service

[Socket]
ListenStream=%t/dataforge/engine.sock
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=default.target
